header{
	height: 15vh;
	background: url('../img/header.jpg') no-repeat ;
	background-position: -150px -148px;
	color: white !important;
	font-size: 1.8em !important;
}
.nav-colored { background-color:#2C5C8C;  transition: 2s}
.nav-transparent { background-color:transparent; transition: 2s}
li a {
	cursor: pointer;
}
h1, footer{
	background-color:#2C5C8C;
	color: white; 
}
h4{
	color:#2C5C8C ;
}
