header{
	height: 45vh;
	background: url('../img/0167e9df8103435b37b166aea72d57b3.jpg') no-repeat ;
}
.nav-colored { background-color:#2C5C8C; transition: 2s}
.nav-transparent { background-color:transparent; transition: 2s}
li a {
	cursor: pointer;
}
footer{
	background-color:#2C5C8C;
	color: white; 
}